li {
  margin-right: 6%;
  width: 150px;
}

button {
  display: block !important;
}

nav {
  background-color: transparent !important;
}

.dropdown-menu {
  position: static !important;
  transform: translate(0,0) !important;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  color: grey !important;
  margin-top: 10%;
  background-color: transparent !important;
  padding-bottom: 10px;
}

.active {
  color: blue !important;
  border-bottom: 2px solid blue;
}

.dropdown-item {
  padding-left: 1rem;
  padding-right: 0;
}
